<% const days = [1, 2, 3, 4, 5, 6, 7] %>

<div class="grid grid-cols-3 gap-2 p-4">
    <% for( let index = 0; index < days.length; index++ ) { %>
    <button class="rounded-xl border p-2"
    type="button"
    data-value="<%= days[index] %>"
    @click="addSearchValueFromElement($el, 'days')">
        星期 <%= days[index] %>
    </button>
    <% } %>
</div>
