<div
    class="bg-<%= color %>-50 justify-center items-center w-5 h-5 text-center cursor-pointer rounded text-inherit fill-inherit"
    :class="color==='<%= color %>' ? 'border border-black' : ''"
    @click="changeColor('<%= color %>')"
    style="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset"
></div>
