<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <% if (title) { %>
    <title><%= title %></title>
    <% } else { %>
    <title>NTUNHS CourseHub</title>
    <% } %>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/_compiled/main.bundle.css" rel="stylesheet" />
    <script defer src="/_compiled/main.bundle.js"></script>
</head>
