<div class="overflow-auto h-screen relative">
    <%- include('components/header') %>
    <main class="container relative">
        <div class="flex flex-col h-[90vh]">
            <!-- search block -->
            <div class="pt-6 md:pt-8 lg:pt-10 mb-2">
                <%- include('search-block') %>
            </div>
            <!-- query course block -->
            <div class="grid md:grid-cols-4">
                <!-- course cards -->
                <div class="gird col-span-1">
                    <div class="rounded-lg shadow p-2 md:h-[700px] md:max-h-[700px] overflow-y-auto">
                        <%- include('query-course-block', { courses: [] }) %>
                    </div>
                </div>
                <div class="grid col-span-3 md:max-h-[700px]">
                    <div class="ml-2 rounded-lg shadow p-2 overflow-y-auto">
                        <%- include('components/weekly-calendar/weekly-calendar', { courses: [] }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
