@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html, body {
        @apply w-full overflow-x-hidden antialiased font-sans;
    }

    .weekly-calendar-rows-divide {
        @apply divide-y divide-gray-100;
    }

    .weekly-calendar-cols-divide {
        @apply divide-x divide-gray-100;
    }
}